<div class="grid grid-cols-12 gap-4 min-h-screen">
    <header class="col-span-12 lg:col-span-3 xl:col-span-2">
        <shared-nav-bar class="fixed top-0 sm:left-0 sm:right-0 lg:sticky z-10"></shared-nav-bar>
    </header>
    <div class="col-span-12 lg:col-span-9 xl:col-span-10">
        <article class="mx-auto w-9/12 grid grid-cols-1 place-content-center">
            <portafolio-description class="col-span-1"></portafolio-description>
            <portafolio-experience class="col-span-1"></portafolio-experience>
            <portafolio-projects class="col-span-1"></portafolio-projects>
            <portafolio-knowledge class="col-span-1"></portafolio-knowledge>
            <portafolio-education class="col-span-1"></portafolio-education>
            <portafolio-about-me class="col-span-1"></portafolio-about-me>
            <shared-footer class="col-span-1"></shared-footer>
        </article>
    </div>
</div>
