<section class="mb-28">
    <p class="text-4xl font-semibold mb-6 text-black/80 dark:text-white/80">
        <i class="bi bi-person-fill-exclamation"></i>
        Sobre mí
    </p>
    <div class="w-full flex flex-wrap-reverse justify-stretch items-center xl:flex-nowrap" id="sobre-mi">
        <div class="w-full font-medium mt-4 xl:w-2/4 xl:ml-6 xl:mt-0">
            <p class="text-md mb-5 text-balance">
                Me llamo Jhosman Fernando Villota Garcia. Empecé en el mundo de la programación a la edad
                de 15 años debido a una asignatura estudiantil, luego de conocer los conceptos y actividades
                de esta profesión <span class="text-green-500">me interesé al punto de investigar y convertirme en
                    autodidacta</span>. <span class="text-green-500">Actualmente tengo conocimientos en distintos
                    frameworks y lenguajes de programación muy utilizados</span>.
            </p>
            <p class="text-md mb-5 text-balance">
                Algunos de mis logros incluyen <span class="text-green-500">desarrollar varios tipos de aplicaciones
                    para instituciones y marcas reconocidas en Colombia como Bulldog</span>. He logrado trabajar como
                desarrollador fullstack desde
                que tengo 18 años y tambien he llevado a cabo el desarrollo de proyectos durante todo el ciclo de vida
                del software.
            </p>
            <p class="text-md mb-5 text-balance">
                Entre mis cualidades más representativas se encuentran el <span class="text-green-500">aprendizaje
                    constante sobre nuevas tecnologias, el refuerzo y actualizaciones de los conocimientos ya
                    obtenidos</span>, tambien he trabajado
                individualmente y en equipo bajo distintas metodologias.
            </p>
        </div>
        <img class="w-24 text-center xl:w-auto rounded-full ring-2 ring-indigo-500/40" src="assets/imagenes/FOTO_FONDO_AZUL.PNG"
            loading="lazy">
    </div>
</section>
